$backgroundColor: #4649FF;

$fontVars: (
    "color": black,

    "fancyFont": 'Playfair Display',
    "normalFont": 'Open Sans',

    "h2FontSize": 2.4rem,
    "mediumFontSize": 1.9rem,
    "smallerFontSize": 1.6rem,
    "headerFontSize": 1.4rem,

    "boldFontWeight": 700
);

$tasksVars: (
    "background":#DDDDDD,
    "specialFontColor": #eee,
    "listItemColor": #ECECEC
);

$colorVars: (
    "background": white,
    "backgroundSplitter": #f7f9fa,

    "textColor": black,
    "invertedTextColor": white,
    "inactiveText":#6a6f73,

    "footerBackground": #1c1d1f,
);