@use '../abstracts/variables';

.fourthSection {
    margin-top: 6.4rem;
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;

    &__section {
        display: flex;
        flex-direction: column;
    }

    &__textWrapper {
        margin-bottom: 1.6rem;
        max-width: 80rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__h2 {
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-size: map-get(variables.$fontVars, 'h2FontSize');
        color: map-get(variables.$colorVars, 'textColor');
        font-weight: map-get(variables.$fontVars, 'boldFontWeight');
        line-height: 1.2;
        letter-spacing: -.02rem;
    }
}