@use '../abstracts/variables';

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 1.2rem;
    font-family: map-get(variables.$fontVars, "normalFont");
    // background-color: blue;
    box-shadow: 0 0.2rem 0.2rem rgb(208, 208, 208);
    gap: 1.2rem;
    z-index: 1;

    &__burgerMenu {
        display: none !important;
        font-size: 150%;
    }

    &__shoppingCart {
        font-size: 150%;

        &:hover {
            color: #5624d0;
        }
    }

    &__element {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    &__logo {
        width: 8.5rem;
    }

    &__textitem {
        // background-color: red;
        font-size: map-get(variables.$fontVars, "headerFontSize");

        white-space: nowrap;

        &:hover {
            color: #5624d0;
        }
    }

    &__searchbar {
        background-color: darken(white, 3%);
        display: flex;
        align-items: center;
        height: 100%;
        padding: 1.2rem;
        border-radius: 10rem;
        gap: 1.2rem;
        border: 0.1rem solid black;
        min-width: 50%;

        &:hover {
            cursor: auto;
        }
    }

    &__searchbarInput {
        border: none;
        background-color: darken(white, 3%);
        font-family: map-get(variables.$fontVars, "normalFont");
        width: 100%;
        height: 2.5rem;

        &:focus {
            outline: none;
        }
    }

    &Icon {
        font-size: 120%;
    }

    &__icon {
        font-size: 140%;
    }

    &__endWrapper {
        display: flex;
        gap: 1.4rem;
    }

    &__login {
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid #000000;
        padding: 0 1.4rem;
        height: 4rem;
        font-weight: 600;

        &:hover {
            background: rgb(245, 245, 245);
            cursor: pointer;
        }
    }

    &__signup {
        text-align: center;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #202020;
        border: 1px solid black;
        padding: 0 1.4rem;
        height: 4rem;
        font-weight: 600;

        &:hover {
            background: #000000;
            cursor: pointer;
        }
    }

    &__language {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid #000000;
        padding: 0 1.4rem;
        height: 4rem;

        &:hover {
            cursor: pointer;
        }
    }

}