@use '../abstracts/variables';

.secondSection {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;


    &__h2 {
        font-size: map-get(variables.$fontVars, 'h2FontSize');
        font-family: map-get(variables.$fontVars, 'fancyFont');
        color: map-get(variables.$colorVars, 'textColor');
    }

    &__p {
        font-family: map-get(variables.$fontVars, 'normalFont');
        color: map-get(variables.$colorVars, 'textColor');
        font-size: map-get(variables.$fontVars, 'mediumFontSize');
        margin: 1.6rem 0 0;
    }

    &__categoryWrapper {
        position: relative;
        display: flex;
        gap: 1.6rem;
        overflow-x: hidden;
    }

    &__categoryItem {
        font-family: map-get(variables.$fontVars, 'normalFont');
        color: map-get(variables.$colorVars, 'textColor');
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1.3rem 0;
    }

    &__active {
        color: black;
    }

    &__inactive {
        color: map-get(variables.$colorVars, 'inactiveText');

        &:hover {
            color: map-get(variables.$colorVars, 'textColor');
            cursor: pointer;
        }
    }

    &__offeredWrapper {
        display: block;
        margin-bottom: 3.2rem;
        border: 1px solid #d1d7dc;
        padding: 3.2rem;
    }

    &__offeredtextWrapper {
        display: block;
        margin-bottom: 3.2rem;
    }

    &__h2 {
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-size: map-get(variables.$fontVars, 'h2FontSize');
        color: map-get(variables.$colorVars, 'textColor');
        font-weight: map-get(variables.$fontVars, 'boldFontWeight');
        line-height: 1.2;
        letter-spacing: -.02rem;
        margin-bottom: 0.8rem;
        max-width: 80rem;
    }

    &__p {
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-size: map-get(variables.$fontVars, 'smallerFontSize');
        color: map-get(variables.$colorVars, 'textColor');
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: 1.6rem;
        max-width: 80rem;
        font-weight: 500;
        line-height: 1.4;
    }

    &__button {
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: map-get(variables.$colorVars, 'invertedTextColor');
        border: 1px solid #000000;
        padding: 0 1.4rem;
        height: 4rem;
        font-weight: 600;

        &:hover {
            cursor: pointer;
            background-color: darken(map-get(variables.$colorVars, 'invertedTextColor'), 3%);
        }
    }

    &__carouselWrapper {
        width: 100%;
        display: flex;
        gap: 1.4rem;
    }

    &__itemDiv {
        &:hover {
            cursor: pointer;
        }

    }

    &__productWrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 23.5rem;
        min-width: 17.3rem;
    }

    &__productImage {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__descriptionSection {
        width: 100%;
        color: #1c1d1f;
        flex: 1;
        min-width: 1px;
    }

    &__h3 {
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-size: map-get(variables.$fontVars, 'smallerFontSize');
        color: map-get(variables.$colorVars, 'textColor');
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-weight: map-get(variables.$fontVars, 'boldFontWeight');
        line-height: 1.2;
        letter-spacing: -.02rem;
        max-width: 25rem;
    }

    &__description {
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        color: #6a6f73;
    }

    &__ratingWrapper {
        margin-bottom: 0.4rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__ratingNumber {
        font-family: map-get(variables.$fontVars, 'normalFont');
        margin-right: 0.4rem;
        color: #b4690e;
        font-weight: map-get(variables.$fontVars, 'boldFontWeight');
        line-height: 1.2;
        letter-spacing: -.02rem;
        font-size: 1.3rem;
    }

    &__ratingStars {
        color: #e59819;
        font-size: 120%;
    }

    &__ratingAmount {
        color: #6a6f73;
        margin-left: 0.4rem;
        font-family: map-get(variables.$fontVars, 'normalFont');
        font-size: 120%;
    }

    &__currentPrice {
        align-items: center;
        color: #1c1d1f;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: map-get(variables.$fontVars, 'normalFont');
        line-height: 1;
        padding: 0.4rem 0;
        font-weight: map-get(variables.$fontVars, 'boldFontWeight');
        letter-spacing: -.02rem;
        font-size: map-get(variables.$fontVars, 'smallerFontSize');
    }
}