*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  padding: 1.2rem;
  font-family: "Open Sans";
  box-shadow: 0 0.2rem 0.2rem rgb(208, 208, 208);
  gap: 1.2rem;
  z-index: 1;
}
.header__burgerMenu {
  display: none !important;
  font-size: 150%;
}
.header__shoppingCart {
  font-size: 150%;
}
.header__shoppingCart:hover {
  color: #5624d0;
}
.header__element {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.header__logo {
  width: 8.5rem;
}
.header__textitem {
  font-size: 1.4rem;
  white-space: nowrap;
}
.header__textitem:hover {
  color: #5624d0;
}
.header__searchbar {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.2rem;
  border-radius: 10rem;
  gap: 1.2rem;
  border: 0.1rem solid black;
  min-width: 50%;
}
.header__searchbar:hover {
  cursor: auto;
}
.header__searchbarInput {
  border: none;
  background-color: #f7f7f7;
  font-family: "Open Sans";
  width: 100%;
  height: 2.5rem;
}
.header__searchbarInput:focus {
  outline: none;
}
.headerIcon {
  font-size: 120%;
}
.header__icon {
  font-size: 140%;
}
.header__endWrapper {
  display: flex;
  gap: 1.4rem;
}
.header__login {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #000000;
  padding: 0 1.4rem;
  height: 4rem;
  font-weight: 600;
}
.header__login:hover {
  background: rgb(245, 245, 245);
  cursor: pointer;
}
.header__signup {
  text-align: center;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  border: 1px solid black;
  padding: 0 1.4rem;
  height: 4rem;
  font-weight: 600;
}
.header__signup:hover {
  background: #000000;
  cursor: pointer;
}
.header__language {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #000000;
  padding: 0 1.4rem;
  height: 4rem;
}
.header__language:hover {
  cursor: pointer;
}

.firstSection {
  width: 100%;
  display: flex;
  justify-content: center;
}
.firstSection__section {
  max-width: 134rem;
  margin-bottom: 4.8rem;
  display: flex;
  justify-content: center;
}
.firstSection__banner {
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstSection__textWrapper {
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
  left: 30rem;
  top: 16rem;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.firstSection__h2 {
  font-size: 3.2rem;
  font-family: "Playfair Display";
}
.firstSection__p {
  font-size: 1.9rem;
  font-family: "Open Sans";
}

.secondSection {
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.secondSection__h2 {
  font-size: 2.4rem;
  font-family: "Playfair Display";
}
.secondSection__p {
  font-size: 1.9rem;
  font-family: "Open Sans";
  margin: 1.6rem 0 0;
}
.secondSection__categoryWrapper {
  position: relative;
  display: flex;
  gap: 1.6rem;
  overflow-x: hidden;
}
.secondSection__categoryItem {
  position: relative;
  font-size: 1.5rem;
  font-family: "Open Sans";
  font-weight: 600;
  padding: 1.3rem 0;
}
.secondSection__active {
  color: black;
}
.secondSection__inactive {
  color: #6a6f73;
}
.secondSection__inactive:hover {
  color: black;
  cursor: pointer;
}
.secondSection__offeredWrapper {
  display: block;
  margin-bottom: 3.2rem;
  border: 1px solid #d1d7dc;
  padding: 3.2rem;
}
.secondSection__offeredtextWrapper {
  display: block;
  margin-bottom: 3.2rem;
}
.secondSection__h2 {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  max-width: 80rem;
}
.secondSection__p {
  font-family: "Open Sans";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1.6rem;
  max-width: 80rem;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.6rem;
}
.secondSection__button {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #000000;
  padding: 0 1.4rem;
  height: 4rem;
  font-weight: 600;
}
.secondSection__button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
.secondSection__carouselWrapper {
  width: 100%;
  display: flex;
  gap: 1.4rem;
}
.secondSection__itemDiv:hover {
  cursor: pointer;
}
.secondSection__productWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 23.5rem;
  min-width: 17.3rem;
}
.secondSection__productImage {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.secondSection__descriptionSection {
  width: 100%;
  color: #1c1d1f;
  flex: 1;
  min-width: 1px;
}
.secondSection__h3 {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  max-width: 25rem;
}
.secondSection__description {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  color: #6a6f73;
}
.secondSection__ratingWrapper {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.secondSection__ratingNumber {
  font-family: "Open Sans";
  margin-right: 0.4rem;
  color: #b4690e;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.3rem;
}
.secondSection__ratingStars {
  color: #e59819;
  font-size: 120%;
}
.secondSection__ratingAmount {
  color: #6a6f73;
  margin-left: 0.4rem;
  font-family: "Open Sans";
  font-size: 120%;
}
.secondSection__currentPrice {
  align-items: center;
  color: #1c1d1f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Open Sans";
  line-height: 1;
  padding: 0.4rem 0;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
}

.thirdSection__divWrapper {
  margin-top: 6.4rem;
  background: #f7f9fa;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.4rem 0;
}
.thirdSection__itemWrapper {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #1c1d1f;
  display: flex;
  gap: 1.4rem;
}
.thirdSection__icon {
  background: #d1d7dc;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdSection__textWrapper {
  max-width: 28.8rem;
}

.fourthSection {
  margin-top: 6.4rem;
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.fourthSection__section {
  display: flex;
  flex-direction: column;
}
.fourthSection__textWrapper {
  margin-bottom: 1.6rem;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fourthSection__h2 {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 2.4rem;
}

.fifthSection {
  margin-top: 6.4rem;
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.fifthSection__section {
  display: flex;
  flex-direction: column;
}
.fifthSection__textWrapper {
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fifthSection__h2 {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 2.4rem;
  margin: 0 0 2.4rem;
}
.fifthSection__carouselWrapper {
  display: flex;
  flex-direction: row;
}
.fifthSection__itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.6rem -3.2rem 0;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #1c1d1f;
}
.fifthSection__itemsWrapper:hover {
  cursor: pointer;
}
.fifthSection__item {
  margin: 0 1.6rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-right: 2rem;
}
.fifthSection__itemImage {
  max-width: 100%;
  height: auto;
  background: #f7f9fa;
  object-fit: contain;
}
.fifthSection__itemText {
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.6rem;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.footer__wrapper {
  margin-top: 3rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  background: #1c1d1f;
  border-top: 1px solid #3e4143;
  color: #fff;
}
.footer__sectionWrapper {
  display: flex;
  font-family: "Open Sans";
}
.footer__linkWrapper {
  font-family: "Open Sans";
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: none;
  flex-basis: 25.6rem;
  margin-right: 1.6rem;
  margin-bottom: 0;
}
.footer__linkItem {
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding: 0.3rem 0;
  height: auto;
}
.footer__linkItem :hover {
  text-decoration: underline;
}
.footer__linkDirect {
  font-family: "Open Sans";
  font-size: 130%;
  text-decoration: none;
  color: white;
}
.footer__language {
  padding: 0 0 2.4rem;
  order: 1;
  flex-shrink: 0;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  padding: 0 1.4rem;
  height: 4rem;
  font-size: 150%;
  gap: 0.5rem;
  background-color: #1c1d1f;
}
.footer__language:hover {
  background-color: #252729;
}
.footer__langMobile {
  display: none;
  margin-bottom: 2rem;
}
.footer__copyrightWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0 3.2rem;
  font-family: "Open Sans";
  font-size: 130%;
}

@media screen and (max-width: 1500px) {
  .header__textItem1 {
    display: none;
  }
  .firstSection__textWrapper {
    left: 20rem;
    top: 16rem;
  }
}
@media screen and (max-width: 1450px) {
  .firstSection__textWrapper {
    left: 12rem;
    top: 16rem;
  }
  .secondSection__item5 {
    display: none;
  }
}
@media screen and (max-width: 1350px) {
  .header__textItem1 {
    display: none;
  }
  .firstSection__textWrapper {
    left: 8rem;
    top: 16rem;
  }
}
@media screen and (max-width: 1250px) {
  .header__textItem2 {
    display: none;
  }
  .main {
    padding: 0;
  }
}
@media screen and (max-width: 1150px) {
  .header__textItem1 {
    display: none;
  }
  .firstSection__textWrapper {
    left: 4rem;
    top: 13rem;
  }
  .secondSection__item4 {
    display: none;
  }
  .thirdSection__divWrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  .header__endWrapper,
.header__searchbar,
.header__textitem {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
  .header__endWrapper, .header__searchbar, .header__textitem {
    display: none;
  }
  .header__burgerMenu {
    display: block !important;
  }
  .firstSection__textWrapper {
    display: none;
  }
}
@media screen and (max-width: 1150px) and (max-width: 850px) {
  .secondSection__category7 {
    display: none !important;
  }
  .secondSection__item3 {
    display: none;
  }
}
@media screen and (max-width: 1150px) and (max-width: 700px) {
  .secondSection__offeredtextWrapper {
    display: none;
  }
  .secondSection__category6 {
    display: none !important;
  }
}
@media screen and (max-width: 1150px) and (max-width: 600px) {
  .secondSection__item2 {
    display: none;
  }
  .footer__sectionWrapper {
    display: block;
  }
  .footer__language {
    margin-top: 2rem;
  }
  .footer__langMobile {
    display: flex;
  }
  .footer__langDesktop {
    display: none;
  }
}
@media screen and (max-width: 1150px) and (max-width: 550px) {
  .secondSection__category5 {
    display: none !important;
  }
}
@media screen and (max-width: 1150px) and (max-width: 450px) {
  .secondSection__category4 {
    display: none !important;
  }
}
@media screen and (max-width: 1150px) and (max-width: 350px) {
  .secondSection__category3 {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
