$blue: #16213E;
$blue-transparant: rgba(15, 52, 96, 0.7);
//
$font-color:#EEE;
//
$pink: #E94560;
$border-pink: 0.4rem solid $pink;
$border-pink-small: 0.2rem solid $pink;
//
$linear-gradient-default: linear-gradient(rgba(0, 7, 78, 0.5), rgba(97, 0, 0, 0.5));